@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-card: #fffaf3;

  --color-primary: #6b4f3f;          /* marron doux */
  --color-primary-foreground: #ffffff;

  --color-secondary: #f5f0e8;        /* beige clair */
  --color-secondary-foreground: #3b2f2f;

  --color-accent: #f4c96d;           /* jaune lanterne */
  --color-accent-foreground: #3b2f2f;

  --color-border: #e7dccf;
  --color-muted-foreground: #8a7f73;
}
